/* NetdavaOfbiz colors */
@blue-dark: #003B73;
@blue-main: #1282a2;
@blue-medium: #BFD7ED;
@blue-light: #f1f7ff;
@blue-light2: #e4f0f5;

/* NetdavaOfbiz theme */
@main-color-theme : @blue-main;
@dark-color-theme : @blue-dark;
@medium-color-theme : @blue-medium;
@light-color-theme : @blue-light;
@light2-color-theme : @blue-light2;
@font-color-for-dark : @grey;
@font-color-for-main : @white;
@font-color-for-medium : @dark-color-theme;
@font-color-for-light : @dark-color-theme;
@shadow-color : @black;
@shadow-color-light : @greydark;

/* include main less theme file */
@import (less) "netdava-ofbiz-main-theme.less";
